@import 'tailwindcss';

.scrollbar-dark {
  /* scrollbar-color: #ababab #171717; */
  scrollbar-color: #a3a3a3 #0a0a0a; /* neutral-400 neutral-950 */
}

.scrollbar-invisible {
  scrollbar-width: none;
  /* -ms-overflow-style: none; */ /* IE/Edge ? */
}

.hover-scrollbar-visible:hover {
  scrollbar-width: auto;
  /* -ms-overflow-style: auto; */ /* IE/Edge ? */
}

@media (pointer: coarse) {
  .hover-scrollbar-visible {
    scrollbar-width: thin;
  }
}
